.normal{
    background-color:aquamarine ;
    height: 300px;
    font-size: 25px;
    margin-bottom: 10px;
}
.normal1{
    background-color: coral;
    height: 300px;
    font-size: 25px;
    margin-bottom: 10px;
}